.product-box {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    text-align: center;
}

.product-image {
    max-width: 100%;
    height: auto;
}

.carro{
    height: 15px;
}

.logo{
    height: 25%;
}

